<template> 
	<require from="./esp-alert"></require>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
		    <div class="navbar-header"> 
		      <a class="navbar-brand" href="#"> 
		        <i class="fa fa-rocket"></i>
		        <span>${router.title}</span>
		      </a>
		    </div> 

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		      	<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">${registered?'Connecté':'Connexion'} <span class="caret"></span></a>
						<div class="dropdown-menu esp-connexion" role="menu" click.delegate="$event.stopPropagation();">
							<esp-alert model.bind="loginerror"></esp-alert>
							<div class="form-group">
							    <label for="navbar_username">Utilisateur</label>
							    <input type="text" class="form-control" id="navbar_username" value.bind="username" placeholder="Votre nom d'utilisateur">
							</div>
							<div class="form-group">
							    <label for="navbar_password">Mot de passe</label>
							    <input type="password" class="form-control" id="navbar_password" value.bind="password" placeholder="Votre mot de passe">
							</div>
							<a class="btn btn-default btn-block" click.delegate="authenticate()">Se connecter</a>
							<a class="btn btn-primary btn-block" click.delegate="navigateAwayFromRegisterButton()">S'inscrire</a>
						</div>
		        </li>
		        <li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
		        	<a href.bind="row.href">${row.title}</a>
		        </li>
		      </ul> 
		    </div>
		</div>
  	</nav>
  	<br>
  	<div class="container">
		<router-view></router-view>
	</div>
</template>