<template>
	<div class="alert alert-${model.type}" role="alert" show.bind="model!=null">
		<button type="button" class="close" click.delegate="dismiss()"><i class="fa fa-times"></i></button>
		<strong>${model.message}</strong> ${model.details}
	</div>
</template>