<template>
    <require from="./esp-chat"></require>
    <require from="./esp-alert"></require>
    <esp-alert model.bind="gameError"></esp-alert>
    <h1>${lobby.name}</h1>
    <div class="row">
        <!--
            Question
        -->
        <div class="col-md-8">
            <!--
                TODO - computedFrom()
            -->
            <button class="btn btn-primary btn-lg" click.delegate="start()" if.bind="player.id==null">Commencer la partie</button>
            <!--
                TODO - computedFrom() 
            -->
            <button class="btn btn-lg btn-primary" disabled.bind="!canPlay || currentlyCzar || played" if.bind="player.id!=null" click.delegate="play()">${currentlyCzar?'Vous êtes le Tsar' : 'Jouer'}</button>
            <br>
            <div class="question">
                ${round.question.content}
            </div> 
        </div>
        <!--
            Information sur les joueurs
        -->
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-users"></i> Joueurs</h3>
                </div>
                <div class="list-group">
                    <a repeat.for="user of lobby.users" class="list-group-item ${user.played?'list-group-item-success':''}"><span class="badge">${user.points}</span>${user.name} <i class="fa fa-star" if.bind="user.playerId == $parent.round.czarId && $parent.round.czarId != null"></i></a>
                </div>
                <div class="panel-footer text-right">
                    Il y a ${lobby.users.length} joueur(s) connecté(s).
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" if.bind="!hasAnswer">
            <div class="card ${card.selected?'cardSelected':''}" repeat.for="card of player.hand" click.delegate="$parent.select(card.id)">
                ${card.content} 
            </div> 
        </div>
        <div class="col-md-12" if.bind="hasAnswer">
            <div class="well" repeat.for="answer of round.answers">
                <h2>Choix #${$index+1}</h2> 
                <div class="card" repeat.for="content of answer.contents">
                    ${content}
                </div>
                <button class="btn btn-primary" click.delegate="$parent.vote(answer.id)" if.bind="$parent.currentlyCzar">Vote</button>
            </div>
        </div>
    </div>
</template>