<template>
	<h1>
		<i class="fa fa-rocket"></i> Bienvenue sur le site de Galactronix!
		<br/>
		<small>L'implémentation québécoise du jeu <i>Cards Against Humanity</i>.
		
	</h1>
	<br/>
	<form>
		<div class="row" style="margin-bottom:1em">
			<div class="col-md-6 col-md-offset-3 text-center">
				<div class="form-group form-group-lg">
					<h3><label for="guestUsername" class="control-label">Entrez votre pseudo-nom:</label></h3>
					<input class="form-control text-center" id="guestUsername" type="text" value.bind="guestUsername" placeholder="Votre pseudo" >
				</div>
				<input class="btn btn-primary btn-lg" type="submit" value="Jouer" disabled.bind="playButtonDisable" click.delegate="playButtonGuestClicked()">
			</div>
		</div>
	</form>
	<h1>Règles du jeu:</h1>
	<p>
		<ul class="fa-ul" style="font-size:1.5em;margin-bottom:1em">
			<li>
				<i class="fa-li fa fa-chevron-circle-right"></i>
				Chaque joueur commence avec 10 cartes de réponse.
			</li>
			<li>
				<i class="fa-li fa fa-chevron-circle-right"></i>
				Au début de chaque tour, un joueur est désigné (simili-aléatoirement) comme étant le Tsar. Une carte comprenant une question ou une phrase trouée est ensuite affichée.
			</li>
			<li>
				<i class="fa-li fa fa-chevron-circle-right"></i>
				Tous les joueurs, sauf le Tsar, jouent une carte de réponse qui complète la carte question.
			</li>
			<li>
				<i class="fa-li fa fa-chevron-circle-right"></i>
				Le Tsar vote ensuite pour la réponse la plus drôle, la plus intelligente ou la plus conne.
			</li>
			<li>
				<i class="fa-li fa fa-chevron-circle-right"></i>
				Le joueur qui a joué la carte gagnante gagne un point. Le premier qui atteint 10 points gagne la partie!
			</li>
		</ul>
	</p>
	
</template>