<template>
	<require from="./esp-alert"></require>
	<div class="row">
		<div class="col-md-6">
			<form role="form" validate.delegate="validation" submit.delegate="register()">
				<h1>S'inscrire</h1>
				<esp-alert model.bind="errors.register"></esp-alert>
				<div class="form-group">
				    <label for="register_username">Nom d'utilisateur</label>
				    <input type="text" class="form-control" id="register_username" value.bind="register.username" placeholder="Votre nom d'utilisateur">
				</div>
				<div class="form-group">
				    <label for="register_password">Mot de passe</label>
				    <input type="password" class="form-control" id="register_password" value.bind="register.password" placeholder="Votre mot de passe">
				</div>
				<div class="form-group">
				    <label for="register_password2">Réinscrire le mot de passe</label>
				    <input type="password" class="form-control" id="register_password2" value.bind="register.password2" placeholder="Réinscrire votre mot de passe">
				</div>
				<button type="submit" class="btn btn-primary pull-right">S'inscrire</button>
			</form>
		</div>
		<div class="col-md-6">
			<form role="form" validate.delegate="login.validation" submit.delegate="login()">
				<h1>Se connecter</h1>
				<esp-alert model.bind="errors.login" ></esp-alert>
				<div class="form-group">
				    <label for="login_username">Nom d'utilisateur</label>
				    <input type="text" class="form-control" id="login_username" value.bind="login.username" placeholder="Votre nom d'utilisateur">
				</div>
				<div class="form-group">
				    <label for="login_password">Mot de passe</label>
				    <input type="password" class="form-control" id="login_password" value.bind="login.password" placeholder="Votre mot de passe">
				</div>
				<button type="submit" class="btn btn-primary pull-right">Se connecter</button>
			</form>
		</div>
	</div>
</template>