body{
	background-color:#eee;
	padding-top:51px;
}
.card{
	background-color:#fdfdfd;
	display:inline-block;
	margin:5px;
	padding:10px;
	font-size:20px;
	height:150px;
	width:150px;
	cursor:pointer;
  overflow-y:auto;
}
.card:hover{
	background-color:#fff;
	position:relative;
	bottom:5px;
	right:5px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.50);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.50);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.50);
}
.question{
	font-size:50px;
}
.hand{
	position:absolute;
	bottom:10px;
}
.cardSelected{
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,85,255,1) !important;
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,85,255,1) !important;
  box-shadow: 0px 0px 30px 0px rgba(0,85,255,1) !important;
}

/*
* Fenêtre de connexion
*/

.esp-connexion{
  padding: 20px;
  width:256px;
}

/*
* Fenêtre de clavardage
*/
.msg_container >.col-md-2, .msg_container > .col-md-10{
    padding:0;
}
.chat-window > div > .panel{
    margin-bottom: 0px;
}
.chat-window{
    bottom:0;
    position:fixed;
    float:right;
    margin-left:10px;
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.icon_minim{
    padding:2px 10px;
}
.msg_container_base{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height:300px;
  overflow-x:hidden;
}
.top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
img {
    display: block;
    width: 100%;
}
.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time{
    float: right;
}